@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.UserRealName!</h1>
    <p>You have successfully log into <a href="@Url.Action("Index","Home",null,Context.Request.Scheme)"><strong>E-Kanban</strong>System</a>.</p>
</div>

