@{
    ViewData["Title"] = "Dashboard";
}
@await Html.PartialAsync("_Scripts")
<script src="~/lib/chartjs/chart.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //var daily = $('#daily').getContext('2d');
        var daily = document.getElementById('daily').getContext('2d');
        var dailychart = new Chart(daily, {
            type: 'bar',
            data: {
                labels: ['001', '002', '003'],
                datasets: [{
                    label: 'Bar Charts',
                    data: [100, 200, 300],
                    backgroundcolor: 'rgba(6,128,250)'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });
</script>
<div class="row">
    <div class="col-sm-4">
        <div class="info-box bg-gradient-warning">
            <span class="info-box-icon">
                <i class="fas fa-shopping-cart"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Trolley (per day)</span>
                <span class="info-box-number">150</span>
            </div>
        </div>
        <div class="info-box bg-gradient-info">
            <span class="info-box-icon">
                <i class="fas fa-columns"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Kanban (per day)</span>
                <span class="info-box-number">80</span>
            </div>
        </div>
        <div class="info-box bg-gradient-danger">
            <span class="info-box-icon">
                <i class="fas fa-stopwatch"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Trolley Delay (per day)</span>
                <span class="info-box-number">45</span>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <canvas class="my-auto h-auto" id="daily"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card"></div>
</div>