@model EKanbanWeb.ViewModel.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<div style="width:50%" margin="0 auto" class="tableContainer text-sm">
    <div class="card" id="filterForm">
        <div class="card-body">
            <form asp-controller="Account" asp-action="ChangePasswordConfirm" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<input asp-for="UserId" class="form-control" hidden="hidden" />*@
                <div class="form-group-sm row" style="margin-bottom:5px">
                    <label asp-for="OldPassword" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control text-sm" asp-for="OldPassword" value="@Model.OldPassword" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group-sm row" style="margin-bottom:5px">
                    <label asp-for="NewPassword" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control text-sm" asp-for="NewPassword" value="@Model.NewPassword" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group-sm row" style="margin-bottom:5px">
                    <label asp-for="ConfirmPassword" class="col-form-label-sm col-sm-4"></label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control text-sm" asp-for="ConfirmPassword" value="@Model.ConfirmPassword" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="float-right">
                    <button type="submit" class="btn btn-info">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>