<div class="modal" id="saveWaitDialog" data-backdrop="static" data-keyboard="false" style="text-align:center;vertical-align: middle;">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6>Save Data is in progress..</h6>
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>